<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788294993689-nvujrrku9np2a771c15cnba5irek027o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788294993689-nvujrrku9np2a771c15cnba5irek027o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788294993689-5egq6j9j2dk5ahovvnjc1lsf5v0kl6q8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX0IHyLU9Me_UuKcUwLxcNwTleAmnWYfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>788294993689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justthislab.justonematch</string>
	<key>PROJECT_ID</key>
	<string>justonematch-d2cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>justonematch-d2cfe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788294993689:ios:a1a5b99982ece7b36a6788</string>
</dict>
</plist>